<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title><%= htmlWebpackPlugin.options.title %> | <%= htmlWebpackPlugin.options.company %></title>
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta -->
    <meta name=description content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords.join(', ') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>"/>
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:image" content="/assets/banner.png?v=1"/>
    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/fav-32.png?v=1">
    <link rel="apple-touch-icon" href="/assets/fav-180.png?v=1">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77334417-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-77334417-4');
    </script>
</head>
<body>
<div id="app"></div>
</body>
</html>